@{
    ViewData["Title"] = "Ankita Details";
}

<h2>My Details</h2>

<ul>
    <li><b>Name:</b> Ankita Khade</li>
    <li><b>Role:</b> .NET Full Stack Developer</li>
    <li><b>Experience:</b> 1.8 Years</li>
    <li><b>Skills:</b> ASP.NET Core, MVC Core, EF Core, SQL, c#, Angular</li>
</ul>
